//* ------------------------------ Səbinə İmanova ------------------------------ */

// START 1ST PAGE
.galleryPage {
    background-image: url(../images/gallery-images/backgroungImg1.jpg);
    background-position: 50% -43.5px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
    .galleryContent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .pageMap {
        a {
          font-size: 60px;
          color: #fff;
          border-bottom: 2px solid rgba(255, 255, 255, 0.3);
          margin-right: 10px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 1px;
          line-height: 1.5;
          font-weight: 300;
        }
      }
      h2 {
        font-weight: 300;
        font-size: 60px;
        margin-top: 20px;
        color: #fff;
        line-height: 1.2;
      }
    }
  }
  // END 1ST PAGE
  // START 2ND PAGE
  .imageGallery {
    padding-top: 7em;
    position: relative;
    .container {
      .heroImage {
        font-size: 16px;
        line-height: 1.8;
        font-weight: 300;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        img {
          width: 270px;
          object-fit: cover;
        }
      }
    }
  }
  // END 2ND PAGE
  // START 3RD PAGE
  .registrationPage {
    position: relative;
    img {
      background-size: cover;
      background-position: center center;
      position: relative;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .9;
      background: #f86f2d;
      .container {
        max-width: 1140px;
  }
      }
    }
  // END 3RD PAGE
  