@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Overpass", sans-serif;
}

a {
  transition: 0.3s all ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
.header {
  background: transparent;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 8px 16px;
  height: 73.58px;
}
.header .container {
  height: 100%;
}
.header .container .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.header .container .navBar .logo {
  z-index: 9;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .container .navBar .logo a {
  color: #ffffff;
  padding: 5px 0;
  margin-right: 16px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}
.header .container .navBar .navList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .navBar .navList .navItem {
  padding: 14.4px 20px;
}
.header .container .navBar .navList .navItem .navLink {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  opacity: 1;
}
.header .container .navBar .navList .navItem .navLink:hover {
  color: #ffffff;
}
.header .container .navBar .navList .navItem .active {
  color: #f86f2d;
}
.header .container .navBar .openMenu {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px 0 4px 12px;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid #000000;
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 9;
}
.header .container .navBar .openMenu .menuIcon {
  color: #bfbfbf;
  font-size: 24px;
}
.header .container .navBar .openMenu span {
  transform: translateY(2px);
}
.header .container .navBar .borderWhite {
  border: 1px solid #ffffff;
}
.header .mobileMenu {
  background-color: #000000;
  width: 100%;
  position: relative;
  top: -508px;
  z-index: 0;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.header .mobileMenu .container .menuItem {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
}
.header .mobileMenu .container .menuItem .menuLink {
  padding: 14.4px 20px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.header .mobileMenu .container .menuItem .active {
  color: #f86f2d;
}

.scrolled {
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: -74px;
}
.scrolled .container .navBar .logo a {
  color: #000000;
}
.scrolled .container .navBar .navList .navItem .navLink {
  color: #000000;
}
.scrolled .container .navBar .navList .navItem .navLink:hover {
  color: #000000;
}
.scrolled .container .navBar .navList .navItem .active {
  color: #f86f2d;
}

.top {
  transition: all 0.3s ease;
  margin-top: 0;
}

@media (max-width: 992px) {
  .header {
    height: 48px;
    background: #000000;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0;
  }
  .header .container .navBar .logo a {
    color: #fff;
  }
  .header .container .navBar .navList {
    display: none;
    transition: all 0.3s ease;
  }
  .header .container .navBar .navList .navItem .navLink {
    color: #000000;
  }
  .header .container .navBar .navList .navItem .navLink:hover {
    color: #000000;
  }
  .header .container .navBar .openMenu {
    display: flex;
  }
  .header .mobileMenu {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0 15px;
  }
}
.footer {
  padding: 112px 0;
  background: #252525;
  line-height: 1.8;
  position: relative;
}
.footer .container {
  padding: 0;
}
.footer .container .footerBox {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
}
.footer .container .footerBox .footerCard {
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  width: 100%;
}
.footer .container .footerBox .footerCard .footerCardTitle {
  color: #fff;
  margin-bottom: 40px;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: 400;
}
.footer .container .footerBox .footerCard .footerCardTitle::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  content: "";
  width: 70px;
  height: 1px;
  background: #fff;
}
.footer .container .footerBox .footerCard .footerCardInfo {
  margin-bottom: 24px;
}
.footer .container .footerBox .footerCard .footerCardInfo p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}
.footer .container .footerBox .footerCard .footerSocial {
  margin: 48px 0 16px;
  float: left;
  display: flex;
}
.footer .container .footerBox .footerCard .footerSocial .socialItem {
  margin: 0 10px 0 0;
}
.footer .container .footerBox .footerCard .footerSocial .socialItem a {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.footer .container .footerBox .footerCard .footerSocial .socialItem a:hover {
  transition: all 0.3s ease;
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerBlogCard {
  margin-bottom: 24px;
  display: flex;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-right: 24px;
}
.footer .container .footerBox .footerCard .footerBlogCard .one {
  background-image: url(../images/footerBlogImage1.jpg);
}
.footer .container .footerBox .footerCard .footerBlogCard .two {
  background-image: url(../images/footerBlogImage2.jpg);
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo {
  width: calc(100% - 100px);
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoTitle {
  line-height: 1.4;
  margin-bottom: 8px;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoTitle a {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s all ease;
  font-family: "Dosis", sans-serif;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoTitle a:hover {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a {
  transition: 0.3s all ease;
  text-align: center;
  vertical-align: middle;
  color: #808080;
  font-size: 12px;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a i {
  color: #bfbfbf;
  font-size: 12px;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a:hover,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a:hover,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a:hover {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a:hover i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a:hover i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a:hover i {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerNav {
  margin-left: 24px;
  margin-bottom: 24px;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu {
  margin-bottom: 16px;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem {
  padding: 8px 0;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem .footerMenuLink {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
  font-weight: 300;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem .footerMenuLink:hover {
  color: #ffffff;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem .active {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .contactList {
  margin-bottom: 16px;
}
.footer .container .footerBox .footerCard .contactList .contactItem {
  line-height: 1.5;
  margin-bottom: 15px;
  display: table;
}
.footer .container .footerBox .footerCard .contactList .contactItem a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #ffffff;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .contactList .contactItem a i {
  width: 40px;
  font-size: 16px;
  padding-top: 2px;
  color: #ffffff;
  display: table-cell;
  vertical-align: top;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .contactList .contactItem a span {
  display: table-cell;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .contactList .contactItem a:hover {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .contactList .contactItem a:hover i {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .contactList .contactItem a:hover span {
  color: #f86f2d;
}
.footer .container .footerBox .sm {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.footer .container .footerBox .md {
  flex: 0 0 25%;
  max-width: 25%;
}
.footer .container .footerBox .xl {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.footer .container .footerBox .xxl {
  flex: 0 0 100%;
  max-width: 100%;
}
.footer .container .copyright .copyrightInfo {
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
  text-align: center;
}
.footer .container .copyright .copyrightInfo i:hover {
  transition: all 0.3s ease;
  color: #f86f2d;
  cursor: pointer;
}

@media (max-width: 772px) {
  .footer .container .footerBox .sm {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .md {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .xl {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .xxl {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .footerCard .footerNav {
    margin-left: 0;
  }
}
.homePage {
  background-image: url(../images/home-bg.jpg);
  background-position-x: 50%;
  background-position-y: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}
.homePage .container .centerContent {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homePage .container .centerContent .content {
  text-align: center;
}
.homePage .container .centerContent .content .contentHeading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.homePage .container .centerContent .content .colorlibLink {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3rem;
}
.homePage .container .centerContent .content .colorlibLink a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.homePage .container .centerContent .content .videoButton {
  cursor: pointer;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}
.homePage .container .centerContent .content .videoButton a {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 16px 24px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}
.homePage .container .centerContent .content .videoButton a i {
  margin-right: 8px;
}
.homePage .container .centerContent .content .videoButton a:hover {
  background-color: #fff;
  color: #f86f2d;
}

.counter {
  position: relative;
  margin-top: -80px;
}
.counter .container .counterCards {
  display: flex;
}
.counter .container .counterCards .counterCard {
  width: 100%;
  background: #f86f2d;
  padding: 30px;
  color: #000;
}
.counter .container .counterCards .counterCard .cardHeading {
  font-size: 24px;
}
.counter .container .counterCards .counterCard .cardNumber {
  font-size: 60px;
  font-weight: 300;
}
.counter .container .counterCards .counterCard .cardContent {
  font-size: 24px;
  line-height: 1.8;
  font-weight: 300;
}
.counter .container .counterCards .donateCard {
  width: 100%;
  background: #fa8f3d;
  padding: 30px;
  color: #000;
}
.counter .container .counterCards .donateCard .cardHeading {
  font-size: 1.75rem;
  line-height: 1.4;
  color: #000;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
}
.counter .container .counterCards .donateCard .cardContent {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 16px;
}
.counter .container .counterCards .donateCard .btn {
  margin-bottom: 1rem;
}
.counter .container .counterCards .donateCard .btn .cardButton {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
.counter .container .counterCards .donateCard .btn .cardButton:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}
.counter .container .counterCards .volunteerCard {
  width: 100%;
  background: #faaa3a;
  padding: 30px;
  color: #000;
}
.counter .container .counterCards .volunteerCard .cardHeading {
  font-size: 1.75rem;
  line-height: 1.4;
  color: #000;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
}
.counter .container .counterCards .volunteerCard .cardContent {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 16px;
}
.counter .container .counterCards .volunteerCard .btn {
  margin-bottom: 1rem;
}
.counter .container .counterCards .volunteerCard .btn .cardButton {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
.counter .container .counterCards .volunteerCard .btn .cardButton:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.infoCards {
  padding: 7em 0;
}
.infoCards .container .infoCard {
  display: flex;
  justify-content: space-between;
}
.infoCards .container .infoCard .card {
  margin-bottom: 40px;
  padding: 24px 31px;
  display: flex;
  align-items: flex-start;
}
.infoCards .container .infoCard .card .cardIcon {
  font-size: 50px;
  color: #f86f2d;
}
.infoCards .container .infoCard .card .cardContent {
  padding-left: 24px;
}
.infoCards .container .infoCard .card .cardContent h3 {
  line-height: 1.4;
  color: #000;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.infoCards .container .infoCard .card .cardContent p {
  font-size: 16px;
  margin-bottom: 1rem;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  text-align: left;
}

.causes-card-section {
  padding: 7em 0;
  position: relative;
}
.causes-card-section .container .sectionHeading {
  margin: 0 -15px 48px -15px;
  padding: 0 15px 16px 15px;
  text-align: center;
}
.causes-card-section .container .sectionHeading .heading {
  color: #000;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  text-align: center;
}
.causes-card-section .container .sectionHeading .subheader {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
.causes-card-section .container .causeCards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.causes-card-section .container .causeCards .causesCard {
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .causes-card-section .container .causeCards .causesCard {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.causes-card-section .container .causeCards .causesCard .causesImages {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.causes-card-section .container .causeCards .causesCard .img1 {
  background-image: url(../images/causesPage/cause-1.jpg.webp);
}
.causes-card-section .container .causeCards .causesCard .img2 {
  background-image: url(../images/causesPage/cause-2.jpg.webp);
}
.causes-card-section .container .causeCards .causesCard .img3 {
  background-image: url(../images/causesPage/cause-3.jpg.webp);
}
@media (min-width: 768px) {
  .causes-card-section .container .causeCards .causesCard .causesCardContent {
    margin-top: -40px !important;
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
  }
}
.causes-card-section .container .causeCards .causesCard .causesCardContent h3 {
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
}
.causes-card-section .container .causeCards .causesCard .causesCardContent h3 a {
  color: #000;
}
.causes-card-section .container .causeCards .causesCard .causesCardContent p {
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
.causes-card-section .container .causeCards .causesCard .causesCardContent .lastDonation {
  font-style: italic;
  color: #cfcfcf;
  display: inline-block;
  margin-bottom: 1rem;
}
.causes-card-section .container .causeCards .causesCard .causesCardContent .progressSection {
  background-color: #f2f2f2;
  height: 0.3rem;
  border-radius: 4px;
  margin-bottom: 20px;
}
.causes-card-section .container .causeCards .causesCard .causesCardContent .progressSection .progress-bar {
  width: 28%;
  background: #f86f2d;
  height: 100%;
}
.causes-card-section .container .causeCards .causesCard .causesCardContent .donationAmount {
  color: #000;
}

.causesPage {
  position: relative;
  width: 100%;
  height: calc(100vh - 117px);
  min-height: 700px;
  background-image: url(../images/causesPage/bg_5.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% -25px;
}
.causesPage .container {
  height: 100%;
}
.causesPage .container .row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.causesPage .container .row .topic {
  text-align: center;
}
@media (min-width: 768px) {
  .causesPage .container .row .topic {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}
.causesPage .container .row .topic p {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}
.causesPage .container .row .topic p .causes-home {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 5px;
}
.causesPage .container .row .topic p .opacity {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
.causesPage .container .row .topic p a {
  color: rgba(255, 255, 255, 0.8);
}
.causesPage .container .row .topic h1 {
  font-weight: 400;
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.causes-card-section {
  width: auto;
  padding: 7em 0;
  position: relative;
}
.causes-card-section .row-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (max-width: 768px) {
  .causes-card-section .row-top {
    margin: 0;
  }
}
.causes-card-section .row-top .causes-cards {
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .causes-card-section .row-top .causes-cards {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.causes-card-section .row-top .causes-cards .causes-img {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.causes-card-section .row-top .causes-cards .causes-img-1 {
  background-image: url(../images/causesPage/cause-1.jpg.webp);
}
.causes-card-section .row-top .causes-cards .causes-img-2 {
  background-image: url(../images/causesPage/cause-2.jpg.webp);
}
.causes-card-section .row-top .causes-cards .causes-img-3 {
  background-image: url(../images/causesPage/cause-3.jpg.webp);
}
.causes-card-section .row-top .causes-cards .causes-img-4 {
  background-image: url(../images/causesPage/cause-4.jpg.webp);
}
.causes-card-section .row-top .causes-cards .causes-img-5 {
  background-image: url(../images/causesPage/cause-5.jpg.webp);
}
.causes-card-section .row-top .causes-cards .causes-img-6 {
  background-image: url(../images/causesPage/cause-6.jpg.webp);
}
@media (min-width: 768px) {
  .causes-card-section .row-top .causes-cards .causes-card-text {
    margin-top: -40px !important;
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
  }
}
.causes-card-section .row-top .causes-cards .causes-card-text h3 {
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
}
.causes-card-section .row-top .causes-cards .causes-card-text h3 a {
  color: #000;
}
.causes-card-section .row-top .causes-cards .causes-card-text p {
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
.causes-card-section .row-top .causes-cards .causes-card-text .last-donation {
  font-style: italic;
  color: #cfcfcf;
  display: inline-block;
  margin-bottom: 1rem;
}
.causes-card-section .row-top .causes-cards .causes-card-text .progress {
  background-color: #f2f2f2;
  height: 0.3rem;
  border-radius: 4px;
  margin-bottom: 20px;
}
.causes-card-section .row-top .causes-cards .causes-card-text .progress .progress-bar {
  width: 28%;
  background: #f86f2d;
  height: 100%;
}
.causes-card-section .row-top .causes-cards .causes-card-text .text-money {
  color: #000;
}
.causes-card-section .row-bottom {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}
.causes-card-section .row-bottom ul {
  display: flex;
}
.causes-card-section .row-bottom ul li {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
}
.causes-card-section .row-bottom ul li span {
  background: #fcc4a8;
  color: #f86f2d;
  border: 1px solid transparent;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.causes-card-section .row-bottom ul li span:hover {
  background-color: #f86f2d;
  color: #fff;
}
.causes-card-section .row-bottom ul li a {
  color: #f86f2d;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #fcc4a8;
}
.causes-card-section .row-bottom ul li a:hover {
  background-color: #f86f2d;
  color: #fff;
}

.volunteer-section {
  background-image: url(../images/causesPage/bg_3.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 8em 0;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.volunteer-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "overlay";
  opacity: 0.9;
  background: #f86f2d;
  z-index: 0;
}
.volunteer-section .container {
  position: relative;
  height: 100%;
}
.volunteer-section .container .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (max-width: 768px) {
  .volunteer-section .container .row {
    margin: 0;
  }
}
.volunteer-section .container .row .img {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.volunteer-section .container .row .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .volunteer-section .container .row .img {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.volunteer-section .container .row .volunteer-form {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .volunteer-section .container .row .volunteer-form {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 3rem;
  }
}
.volunteer-section .container .row .volunteer-form h3 {
  font-size: 1.75rem;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.volunteer-section .container .row .volunteer-form form .form-group input {
  height: 58px;
  font-family: inherit;
}
.volunteer-section .container .row .volunteer-form form .form-group input::-moz-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group input:-ms-input-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group input::placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group .btn-white {
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 3rem;
  transition: all 0.5s;
}
.volunteer-section .container .row .volunteer-form form .form-group .btn-white:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}
.volunteer-section .container .row .volunteer-form form .form-group .form-control {
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 0.375rem 0.75rem;
  width: 100%;
  line-height: 1.5;
  outline: none;
}
.volunteer-section .container .row .volunteer-form form .form-group .form-control:focus {
  border-color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea {
  height: inherit;
  overflow: auto;
  resize: vertical;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea::-moz-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea:-ms-input-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea::placeholder {
  color: #fff;
}

/* ----------------------------- Start first section ---------------------------- */
.donatePage .hero-wrap {
  background-image: url(../images/donate-hero.webp);
  background-position: 50% -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 1s ease;
  width: 100%;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}
.donatePage .hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  background: #000;
}
.donatePage .hero-wrap .container .row-donate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  color: #fff;
  height: 700px;
}
.donatePage .hero-wrap .container .row-donate .main-head {
  transform: translateZ(0px) translateY(0%);
  padding: auto 0;
  text-align: center;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  position: relative;
  width: 100%;
  min-height: 1px;
}
.donatePage .hero-wrap .container .row-donate .main-head .breadcrumbs {
  opacity: 1;
  transform: translateZ(0px) translateY(0%);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  z-index: 99;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0;
}
.donatePage .hero-wrap .container .row-donate .main-head .breadcrumbs .home {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.7);
  margin-right: 0.5rem;
}
.donatePage .hero-wrap .container .row-donate .main-head .breadcrumbs .home a {
  color: #fff;
  transition: 0.3s all ease;
}
.donatePage .hero-wrap .container .row-donate .main-head .breadcrumbs span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
.donatePage .hero-wrap .container .row-donate .main-head .bread {
  opacity: 1;
  transform: translateZ(0px) translateY(0%);
  font-weight: 400;
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* ------------------------------ End first section ----------------------------- */
/* ----------------------------- Start Card section ---------------------------- */
.donateCards {
  padding: 7rem 0;
  position: relative;
  background: #fafafa;
}
.donateCards .container .row-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.donateCards .container .row-cards .mainCard {
  display: flex;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin-bottom: 1.5rem;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}
.donateCards .container .row-cards .mainCard .staff {
  padding: 25px;
  background: #fff;
  box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.donateCards .container .row-cards .mainCard .staff .card-flex {
  display: flex;
  margin-bottom: 1.5rem;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-1 {
  background-image: url(../images/person_1.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-2 {
  background-image: url(../images/person_2.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-3 {
  background-image: url(../images/person_3.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-4 {
  background-image: url(../images/person_4.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-5 {
  background-image: url(../images/person_5.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-6 {
  background-image: url(../images/person_6.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-7 {
  background-image: url(../images/person_7.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-8 {
  background-image: url(../images/person_8.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .image-9 {
  background-image: url(../images/person_9.jpg.webp);
  width: 110px;
  height: 105px;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info {
  width: calc(100% - 110px);
  margin-left: 1.5rem;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info h3 {
  margin-bottom: 8px;
  margin-top: 0;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info h3 a {
  font-size: 24px;
  font-family: "Dosis", Arial, sans-serif;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  transition: 0.3s all ease;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info h3 a:hover {
  color: #f86f2d;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info .position {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 14px;
  color: #bfbfbf;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info .text p {
  margin-top: 1.3rem;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info .text p span {
  font-size: 20px;
  font-weight: 400;
  color: #7cbd1e;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info .text p a {
  text-decoration: underline;
  transition: 0.3s all ease;
  color: #f86f2d;
}
.donateCards .container .row-cards .mainCard .staff .card-flex .info .text p a:hover {
  color: #000;
}
.donateCards .container .row-pagination {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}
.donateCards .container .row-pagination .text-center .block ul {
  display: flex;
  justify-content: center;
}
.donateCards .container .row-pagination .text-center .block ul .active {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
}
.donateCards .container .row-pagination .text-center .block ul .active span {
  background: #fcc4a8;
  color: #f86f2d;
  border: 1px solid transparent;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.donateCards .container .row-pagination .text-center .block ul .active span:hover {
  background-color: #f86f2d;
  color: #fff;
}
.donateCards .container .row-pagination .text-center .block ul li a {
  color: #f86f2d;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #fcc4a8;
}
.donateCards .container .row-pagination .text-center .block ul li a:hover {
  background-color: #f86f2d;
  color: #fff;
}

/* ------------------------------ End Card section ----------------------------- */
/* ------------------------- volunteer section start ------------------------ */
.volunteer-section {
  background-image: url(../images/causesPage/bg_3.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 8em 0;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.volunteer-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "overlay";
  opacity: 0.9;
  background: #f86f2d;
  z-index: 0;
}
.volunteer-section .container {
  position: relative;
  height: 100%;
}
.volunteer-section .container .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (max-width: 768px) {
  .volunteer-section .container .row {
    margin: 0;
  }
}
.volunteer-section .container .row .img {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.volunteer-section .container .row .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .volunteer-section .container .row .img {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.volunteer-section .container .row .volunteer-form {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .volunteer-section .container .row .volunteer-form {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 3rem;
  }
}
.volunteer-section .container .row .volunteer-form h3 {
  font-size: 1.75rem;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.volunteer-section .container .row .volunteer-form form .form-group input {
  height: 58px;
  font-family: inherit;
}
.volunteer-section .container .row .volunteer-form form .form-group input::-moz-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group input:-ms-input-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group input::placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group .btn-white {
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 3rem;
  transition: all 0.5s;
}
.volunteer-section .container .row .volunteer-form form .form-group .btn-white:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}
.volunteer-section .container .row .volunteer-form form .form-group .form-control {
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 0.375rem 0.75rem;
  width: 100%;
  line-height: 1.5;
  outline: none;
}
.volunteer-section .container .row .volunteer-form form .form-group .form-control:focus {
  border-color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea {
  height: inherit;
  overflow: auto;
  resize: vertical;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea::-moz-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea:-ms-input-placeholder {
  color: #fff;
}
.volunteer-section .container .row .volunteer-form form .form-group textarea::placeholder {
  color: #fff;
}

/* -------------------------- volunteer section end ------------------------- */
main .blogPage {
  height: 700px;
  background-image: url(../images/blog-background.webp);
  background-position: center below;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .blogPage .navigation {
  text-align: center;
}
main .blogPage .navigation p {
  margin-bottom: 20px;
}
main .blogPage .navigation p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
}
main .blogPage .navigation p span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
main .blogPage .navigation h2 {
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}
main .cards {
  width: 100%;
  padding-top: 112px;
  background-color: #f8f9fa;
}
main .cards .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main .cards .container .card {
  margin-right: 15px;
  margin-left: 15px;
  background-color: white;
  width: 30%;
  margin-bottom: 30px;
}
main .cards .container .card .card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  width: 100%;
}
main .cards .container .card .card-image-1 {
  background-image: url(../images/blog-card-1.webp);
}
main .cards .container .card .card-image-2 {
  background-image: url(../images/blog-card-2.webp);
}
main .cards .container .card .card-image-3 {
  background-image: url(../images/blog-card-3.webp);
}
main .cards .container .card .card-image-4 {
  background-image: url(../images/blog-card-4.webp);
}
main .cards .container .card .card-image-5 {
  background-image: url(../images/blog-card-5.webp);
}
main .cards .container .card .card-image-6 {
  background-image: url(../images/blog-card-6.webp);
}
main .cards .container .card .card-info {
  padding: 24px;
  width: 90%;
  margin: 0 auto;
  margin-top: -40px;
  background: #fff;
}
main .cards .container .card .card-info .card-navigation {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
main .cards .container .card .card-info .card-navigation a {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
main .cards .container .card .card-info .card-title {
  margin: 16px 0;
}
main .cards .container .card .card-info .card-title a {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  cursor: pointer;
}
main .cards .container .card .card-info .card-title a:hover {
  color: #fd7e14;
}
main .cards .container .card .card-info .card-info-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}

.galleryPage {
  background-image: url(../images/gallery-images/backgroungImg1.jpg);
  background-position: 50% -43.5px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
}
.galleryPage .galleryContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.galleryPage .galleryContent .pageMap a {
  font-size: 60px;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 300;
}
.galleryPage .galleryContent h2 {
  font-weight: 300;
  font-size: 60px;
  margin-top: 20px;
  color: #fff;
  line-height: 1.2;
}

.imageGallery {
  padding-top: 7em;
  position: relative;
}
.imageGallery .container .heroImage {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.imageGallery .container .heroImage img {
  width: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.registrationPage {
  position: relative;
}
.registrationPage img {
  background-size: cover;
  background-position: center center;
  position: relative;
}
.registrationPage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background: #f86f2d;
}
.registrationPage .overlay .container {
  max-width: 1140px;
}

.contact-hero {
  background-image: url("../images/bg_2.jpg.webp");
  background-position: 50% -25px;
  background-size: cover;
  width: 100%;
  height: 700px;
  background-attachment: fixed;
}
.contact-hero .container .center-words {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-hero .container .center-words .word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-hero .container .center-words .word .navigation {
  margin: 20px;
  letter-spacing: 1px;
  font-size: 13px;
}
.contact-hero .container .center-words .word .navigation a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 8px;
}
.contact-hero .container .center-words .word .navigation span {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 13px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.contact-hero .container .center-words .word .hero-title {
  font-size: 60px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
}

.contact-questions {
  padding: 112px 0;
}
.contact-questions .container .title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.contact-questions .container .contact-top {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 48px;
}
.contact-questions .container .contact-top .contact-link {
  width: 25%;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 16px;
}
.contact-questions .container .contact-top .contact-link a {
  color: #fa8f3d;
  transition: all 0.3s;
}
.contact-questions .container .contact-top .contact-link a:hover {
  color: #f86f2d;
}
.contact-questions .container .contact-top .contact-link .description {
  font-size: 16px;
  color: #808080;
  font-weight: 300;
}
.contact-questions .container .contact-top .contact-link .description span {
  color: #000;
}
.contact-questions .container .bottom-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.contact-questions .container .bottom-container .contact-left {
  width: 50%;
  padding: 0 48px 0 15px;
}
.contact-questions .container .bottom-container .contact-left .title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.contact-questions .container .bottom-container .contact-left form .form-group {
  margin-bottom: 16px;
}
.contact-questions .container .bottom-container .contact-left form .form-group input {
  width: 100%;
  height: 58px;
  padding: 6px 12px;
  font-size: 15px;
  border: 1px solid #ced4da;
  outline: none;
  transition: all 0.3s;
}
.contact-questions .container .bottom-container .contact-left form .form-group input:focus {
  border: 1px solid #000;
}
.contact-questions .container .bottom-container .contact-left form .form-group textarea {
  width: 100%;
  height: 172px;
  padding: 6px 12px;
  font-size: 15px;
  border: 1px solid #ced4da;
  outline: none;
  transition: all 0.3s;
}
.contact-questions .container .bottom-container .contact-left form .form-group textarea:focus {
  border: 1px solid #000;
}
.contact-questions .container .bottom-container .contact-left form .btn {
  color: #fff;
  background-color: #f86f2d;
  border: none;
  outline: none;
  padding: 16px 48px;
  border: 1px solid #f86f2d;
  cursor: pointer;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin-top: -8px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.contact-questions .container .bottom-container .contact-left form .btn:hover {
  background-color: #fff;
  color: #f86f2d;
  border-color: #f86f2d;
}
.contact-questions .container .bottom-container .contact-right {
  width: 50%;
}

@media (max-width: 992px) {
  .contact-hero .container .center-words .word .hero-title {
    font-size: 40px;
  }
  .contact-questions .container .bottom-container .contact-right iframe {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .contact-questions .container .contact-top .contact-link {
    width: 100%;
  }
  .contact-questions .container .bottom-container .contact-left {
    width: 100%;
    padding: 0 15px;
  }
  .contact-questions .container .bottom-container .contact-left form {
    width: 100%;
  }
  .contact-questions .container .bottom-container .contact-right {
    width: 100%;
  }
  .contact-questions .container .bottom-container .contact-right iframe {
    height: 300px;
  }
}
main .blog-detail {
  height: 700px;
  background-image: url(../images/blog-background.webp);
  background-position: center below;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .blog-detail .navigation {
  text-align: center;
}
main .blog-detail .navigation p {
  margin-bottom: 20px;
}
main .blog-detail .navigation p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 300;
}
main .blog-detail .navigation p span {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 300;
}
main .blog-detail .navigation p .nav-blog {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
  margin-right: 10px;
}
main .blog-detail .navigation p .nav-blog-details {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
}
main .blog-detail .navigation h2 {
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}
main .blog-info .container .tips-category {
  width: 100%;
  display: flex;
}
main .blog-info .container .tips-category .left {
  width: 66%;
  padding: 7em 0;
}
main .blog-info .container .tips-category .left .left-info .tip {
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 16px;
}
main .blog-info .container .tips-category .left .left-info p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  margin-bottom: 1rem;
}
main .blog-info .container .tips-category .left .left-info .tip-2 {
  margin-top: 3rem;
}
main .blog-info .container .tips-category .left .interests {
  margin: 3rem 0;
}
main .blog-info .container .tips-category .left .interests .individual-interests {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
}
main .blog-info .container .tips-category .left .interests .individual-interests a {
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000;
  border: 1px solid #ccc;
  font-size: 11px;
  cursor: pointer;
}
main .blog-info .container .tips-category .left .interests .individual-interests a:hover {
  border: 1px solid black;
}
main .blog-info .container .tips-category .left .about-author {
  width: 100%;
  background: #fafafa;
  padding: 3rem;
  display: flex;
}
main .blog-info .container .tips-category .left .about-author .image-author {
  margin-right: 3rem;
  width: 80%;
}
main .blog-info .container .tips-category .left .about-author .image-author img {
  width: 100%;
  margin-bottom: 1.5rem;
}
main .blog-info .container .tips-category .left .about-author .info-author h3 {
  font-size: 24px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  margin-bottom: 8px;
}
main .blog-info .container .tips-category .left .about-author .info-author p {
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
main .blog-info .container .tips-category .left .comments {
  padding-top: 48px;
  margin-top: 48px;
}
main .blog-info .container .tips-category .left .comments h3 {
  margin-bottom: 48px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-size: 1.75rem;
}
main .blog-info .container .tips-category .left .comments .comment {
  display: flex;
}
main .blog-info .container .tips-category .left .comments .comment .head-comment {
  width: 80px;
}
main .blog-info .container .tips-category .left .comments .comment .head-comment img {
  width: 50px;
  border-radius: 50%;
  margin-right: 30px;
}
main .blog-info .container .tips-category .left .comments .comment .text-comment h3 {
  font-size: 20px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  margin-bottom: 8px;
}
main .blog-info .container .tips-category .left .comments .comment .text-comment .date {
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}
main .blog-info .container .tips-category .left .comments .comment .text-comment p {
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
main .blog-info .container .tips-category .left .comments .comment .text-comment .reply-button {
  margin-bottom: 16px;
  cursor: pointer;
}
main .blog-info .container .tips-category .left .comments .comment .text-comment .reply-button a {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 4px;
}
main .blog-info .container .tips-category .left .comments .comment .text-comment .reply-button a:hover {
  background-color: black;
  color: white;
}
main .blog-info .container .tips-category .left .comments .comment-2 {
  padding: 30px 0 0 20px;
}
main .blog-info .container .tips-category .left .comments .comment-3 {
  padding: 50px 0 0 40px;
}
main .blog-info .container .tips-category .left .comments .comment-4 {
  padding: 70px 0 0 60px;
}
main .blog-info .container .tips-category .left .comments .comment-5 {
  padding: 90px 0 100px 80px;
}
main .blog-info .container .tips-category .left .form-title {
  margin: 48px 0;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-size: 1.75rem;
}
main .blog-info .container .tips-category .left .comment-part {
  background: #fafafa;
}
main .blog-info .container .tips-category .left .comment-part .comment-form {
  padding: 48px;
}
main .blog-info .container .tips-category .left .comment-part .comment-form .form-row {
  margin-bottom: 16px;
}
main .blog-info .container .tips-category .left .comment-part .comment-form .form-row label {
  margin-bottom: 0.5rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
main .blog-info .container .tips-category .left .comment-part .comment-form .form-row input {
  height: 58px;
  background: #fff;
  color: #000;
  font-size: 18px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
}
main .blog-info .container .tips-category .left .comment-part .comment-form .form-row input:focus {
  border: 1px solid red;
}
main .blog-info .container .tips-category .left .comment-part .comment-form .form-row .textarea {
  background: #fff;
  color: #000;
  font-size: 18px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
}
main .blog-info .container .tips-category .left .comment-part .comment-form button {
  background: #f86f2d;
  border: 1px solid #f86f2d;
  color: #fff;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: inherit;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=main.css.map */