@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Overpass", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
.header {
  background: transparent;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 8px 16px;
  height: 73.58px;
}
.header .container {
  height: 100%;
}
.header .container .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}
.header .container .navBar .logo {
  z-index: 9;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .navBar .logo a {
  color: #ffffff;
  padding: 5px 0;
  margin-right: 16px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}
.header .container .navBar .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .navBar .navList .navItem {
  padding: 14.4px 20px;
}
.header .container .navBar .navList .navItem .navLink {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  opacity: 1;
}
.header .container .navBar .navList .navItem .navLink:hover {
  color: #ffffff;
}
.header .container .navBar .navList .navItem .active {
  color: #f86f2d;
}
.header .container .navBar .openMenu {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px 0 4px 12px;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid #000000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 9;
}
.header .container .navBar .openMenu .menuIcon {
  color: #bfbfbf;
  font-size: 24px;
}
.header .container .navBar .openMenu span {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.header .container .navBar .borderWhite {
  border: 1px solid #ffffff;
}
.header .mobileMenu {
  background-color: #000000;
  width: 100%;
  position: relative;
  top: -508px;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.header .mobileMenu .container .menuItem {
  line-height: 1.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .mobileMenu .container .menuItem .menuLink {
  padding: 14.4px 20px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.header .mobileMenu .container .menuItem .active {
  color: #f86f2d;
}

.scrolled {
  position: fixed;
  top: 0;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: -74px;
}
.scrolled .container .navBar .logo a {
  color: #000000;
}
.scrolled .container .navBar .navList .navItem .navLink {
  color: #000000;
}
.scrolled .container .navBar .navList .navItem .navLink:hover {
  color: #000000;
}
.scrolled .container .navBar .navList .navItem .active {
  color: #f86f2d;
}

.top {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 0;
}

@media (max-width: 992px) {
  .header {
    height: 48px;
    background: #000000;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0;
  }
  .header .container .navBar .logo a {
    color: #fff;
  }
  .header .container .navBar .navList {
    display: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header .container .navBar .navList .navItem .navLink {
    color: #000000;
  }
  .header .container .navBar .navList .navItem .navLink:hover {
    color: #000000;
  }
  .header .container .navBar .openMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .mobileMenu {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0 15px;
  }
}
.footer {
  padding: 112px 0;
  background: #252525;
  line-height: 1.8;
  position: relative;
}
.footer .container {
  padding: 0;
}
.footer .container .footerBox {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .container .footerBox .footerCard {
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  width: 100%;
}
.footer .container .footerBox .footerCard .footerCardTitle {
  color: #fff;
  margin-bottom: 40px;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: 400;
}
.footer .container .footerBox .footerCard .footerCardTitle::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  content: "";
  width: 70px;
  height: 1px;
  background: #fff;
}
.footer .container .footerBox .footerCard .footerCardInfo {
  margin-bottom: 24px;
}
.footer .container .footerBox .footerCard .footerCardInfo p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}
.footer .container .footerBox .footerCard .footerSocial {
  margin: 48px 0 16px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .footerBox .footerCard .footerSocial .socialItem {
  margin: 0 10px 0 0;
}
.footer .container .footerBox .footerCard .footerSocial .socialItem a {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}
.footer .container .footerBox .footerCard .footerSocial .socialItem a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerBlogCard {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-right: 24px;
}
.footer .container .footerBox .footerCard .footerBlogCard .one {
  background-image: url(../images/footerBlogImage1.jpg);
}
.footer .container .footerBox .footerCard .footerBlogCard .two {
  background-image: url(../images/footerBlogImage2.jpg);
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo {
  width: calc(100% - 100px);
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoTitle {
  line-height: 1.4;
  margin-bottom: 8px;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoTitle a {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-family: "Dosis", sans-serif;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoTitle a:hover {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-align: center;
  vertical-align: middle;
  color: #808080;
  font-size: 12px;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a i {
  color: #bfbfbf;
  font-size: 12px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a:hover,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a:hover,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a:hover {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogDate a:hover i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogAuthor a:hover i,
.footer .container .footerBox .footerCard .footerBlogCard .blogCardInfo .blogInfoDate .blogComments a:hover i {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .footerNav {
  margin-left: 24px;
  margin-bottom: 24px;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu {
  margin-bottom: 16px;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem {
  padding: 8px 0;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem .footerMenuLink {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 300;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem .footerMenuLink:hover {
  color: #ffffff;
}
.footer .container .footerBox .footerCard .footerNav .footerMenu .footerMenuItem .active {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .contactList {
  margin-bottom: 16px;
}
.footer .container .footerBox .footerCard .contactList .contactItem {
  line-height: 1.5;
  margin-bottom: 15px;
  display: table;
}
.footer .container .footerBox .footerCard .contactList .contactItem a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #ffffff;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .contactList .contactItem a i {
  width: 40px;
  font-size: 16px;
  padding-top: 2px;
  color: #ffffff;
  display: table-cell;
  vertical-align: top;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .contactList .contactItem a span {
  display: table-cell;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer .container .footerBox .footerCard .contactList .contactItem a:hover {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .contactList .contactItem a:hover i {
  color: #f86f2d;
}
.footer .container .footerBox .footerCard .contactList .contactItem a:hover span {
  color: #f86f2d;
}
.footer .container .footerBox .sm {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.footer .container .footerBox .md {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}
.footer .container .footerBox .xl {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.footer .container .footerBox .xxl {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
.footer .container .copyright .copyrightInfo {
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
  text-align: center;
}
.footer .container .copyright .copyrightInfo i:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f86f2d;
  cursor: pointer;
}

@media (max-width: 772px) {
  .footer .container .footerBox .sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .container .footerBox .footerCard .footerNav {
    margin-left: 0;
  }
}
.homePage {
  background-image: url(../images/home-bg.jpg);
  background-position-x: 50%;
  background-position-y: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}
.homePage .container .centerContent {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.homePage .container .centerContent .content {
  text-align: center;
}
.homePage .container .centerContent .content .contentHeading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.homePage .container .centerContent .content .colorlibLink {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3rem;
}
.homePage .container .centerContent .content .colorlibLink a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.homePage .container .centerContent .content .videoButton {
  cursor: pointer;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}
.homePage .container .centerContent .content .videoButton a {
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 16px 24px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}
.homePage .container .centerContent .content .videoButton a i {
  margin-right: 8px;
}
.homePage .container .centerContent .content .videoButton a:hover {
  background-color: #fff;
  color: #f86f2d;
}

.counter {
  position: relative;
  margin-top: -80px;
}
.counter .container .counterCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.counter .container .counterCards .counterCard {
  width: 100%;
  background: #f86f2d;
  padding: 30px;
  color: #000;
}
.counter .container .counterCards .counterCard .cardHeading {
  font-size: 24px;
}
.counter .container .counterCards .counterCard .cardNumber {
  font-size: 60px;
  font-weight: 300;
}
.counter .container .counterCards .counterCard .cardContent {
  font-size: 24px;
  line-height: 1.8;
  font-weight: 300;
}
.counter .container .counterCards .donateCard {
  width: 100%;
  background: #fa8f3d;
  padding: 30px;
  color: #000;
}
.counter .container .counterCards .donateCard .cardHeading {
  font-size: 1.75rem;
  line-height: 1.4;
  color: #000;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
}
.counter .container .counterCards .donateCard .cardContent {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 16px;
}
.counter .container .counterCards .donateCard .btn {
  margin-bottom: 1rem;
}
.counter .container .counterCards .donateCard .btn .cardButton {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
.counter .container .counterCards .donateCard .btn .cardButton:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}
.counter .container .counterCards .volunteerCard {
  width: 100%;
  background: #faaa3a;
  padding: 30px;
  color: #000;
}
.counter .container .counterCards .volunteerCard .cardHeading {
  font-size: 1.75rem;
  line-height: 1.4;
  color: #000;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
}
.counter .container .counterCards .volunteerCard .cardContent {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 16px;
}
.counter .container .counterCards .volunteerCard .btn {
  margin-bottom: 1rem;
}
.counter .container .counterCards .volunteerCard .btn .cardButton {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
.counter .container .counterCards .volunteerCard .btn .cardButton:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}/*# sourceMappingURL=main.css.map */